# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

.venv/
.venv

data/
notebooks/
reports/
models/
*.csv